* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
.main {
  background-color: #060606;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerBox {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 300px;
  border-radius: 5px;
  border: 2px solid #1a1a1a;
  padding: 50px;
  gap: 3px;
  transition: transform 0.4s ease;
  box-shadow: 0 0 20px rgba(255,255,255,0.1);
}
.innerBox:hover {
  transform: scale(1.03);
}
.logoImg {
  height: 50px;
  border-radius: 50%;
}
h2 {
  color: white;
  font-size: 25px;
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.place {
  color: greenyellow;
}
h6 {
  color: white;
  font-size: 11.5px;
}
.boxChild {
  background-color: #333333;
  height: 2px;
  width: 200px;
  border-radius: 5px;
  border: 2px solid #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 10px 0px;
  cursor: pointer;
}
.boxChild:hover{
    background-color: #181818;
    transform: translateY(-3px);
}
.boxChild h5 {
  color: white;
}
