* {
  margin: 5;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  color: #000000;
  overflow-x: hidden;
}
header {
  line-height: 10px;
}
header h1 {
  font-size: 3rem;
  padding-left: 0.8rem;
}
header h3 {
  padding-left: 0.8rem;
}
.mainContacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#career-history {
  padding-left: 0.8rem;
}

.expTopic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0.8rem;
  line-height: 1px;
}
.description {
  padding-left: 0.8rem;
}
#projects {
  padding-left: 0.8rem;
}
.projTopic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0.8rem;
  line-height: 1px;
}
.projTopic span a{
  color: #000000;
  text-decoration: none;
}


#skills{
    padding-left: 0.8rem;
}
/* .sectionSkill{
display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0.8rem;
  line-height: 1px;
} */

/* .skill-point{
    display: flex;

} */
 .skils_sec{
    line-height: 1px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 10px;
 }
 .skils_sec h4{
    font-size: 1.1rem;
 }
 .skils_sec h5{
    font-size: 1rem;
 }